<div class="footer">
    <div class="wrapf">


        <div class="custom"  >
            <p><a href="http://www.cloudius-systems.com"><img style="margin-top: 30px;" src="{{ site.main_site }}/images/footerLogo.jpg" alt="" width="380" height="38" /></a></p></div>



        <div class="custom social"  >
            <p><a href="https://plus.google.com/107787008629542080430" rel="publisher">Google+</a></p></div>



        <div class="custom CloudIcon"  >
            <p><a href="/index.php"><img src="{{ site.main_site }}/images/footerCloudIcon.jpg" width="57" height="33" alt="footerCloudIcon" /></a></p></div>

        <div class="clr"></div>
    </div>
</div>
