// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
@import "theme";

// Make line numbers gray and separate from the code
.line-numbers {
  color: #aaa;
  margin-right: 0.5em;
}

// A little vertical padding after listings
td.code, td.gutter {
  padding-bottom: 2ex;
}

// Indent ordered lists
ol {
  padding-left: 2em;
}
