/* GENERAL */
* {
    margin:0;
    padding:0;
    border:0;
}
body {
    font-family: "Open Sans" !important;
    color:#232323;
    font-size:15px;
}
a {
    text-decoration:none;
    color:#ff9000;
}
a:hover {text-decoration:underline;}
.wrap {
    width:960px;
    margin:0 auto;
}
.clr {
    clear:both;
}
.btn, .readmore a {
    display:block;
    line-height:35px;
    text-align:center;
    font-family:'Open Sans';
    font-size:21px;
    color:#FFF!important;
    font-weight:600;
    width:235px;
    height:41px;
}
.btn:hover {
    background:#fca738;
    text-decoration:none!important;
}

.moduletable {
    margin-bottom:20px;
}
/* HEADER */

.header {
    padding:10px 0;
    width:100%;
}
.topMenu {
    width:617px;
    float:right;
    margin-top:24px;
}
.topMenu ul {
    list-style:none;
}
.topMenu ul li {
    float:left;
    text-align:center;
    margin-right:45px;
}
.topMenu ul li a{
    font-size:18px;
    color:#555;
    display:block;
}
.topMenu ul li.current a, .topMenu ul li.active a {
    color:#2b6ea6;
}
.topMenu ul li:hover a{
    color:#000;
}
/* HOME PAGE */
.homeTopBannerLeft {
    font-size:22px;
    line-height:28px;
    width:610px;
    float:left;
    padding-right:24px;
}
.homeTopBannerLeft h1{
    color:#232323;
    font-weight:bold;
    font-size:24px !important;
    margin-bottom:10px;
}
.homeTopBannerLeft h2{
    color:#232323;
    font-size:21px !important;
    padding-right:18px;
}

.homeTopBannerRight {
    width:323px;
    height:150px;
    float:right;
    border-left: 1px dashed #d7d7d7;
}
.homeCols {
    margin-top:20px;
    font-size:15px;
    line-height:22px;
    border-top:1px solid #d7d7d7;
    padding-top:15px;
}
.homeColWidth h3{
    margin-bottom:15px;
}
.homeCols hr {
    clear:both;
    border-bottom:1px solid #d7d7d7;
    width:96%;
    margin:10px auto;
}
.homeCols > div {
    float:left;
}
.homeCols .homeCol1 {
    width:302px;
}

.homeCols .homeCol2 {
    padding-left:33px;
    width:301px;
    margin-top:57px;
    height:376px;
}
.homeCols .homeCol3 {
    width:259px;
    padding-left:20px;
    border-left:1px solid #d7d7d7;
}
.homeCols .homeCol4 {
    width:295px;
    height:203px;
    float:left;
    border:1px solid #d7d7d7;
    margin-top: 30px;
    margin-left: 37px;
}
.homeCols .homeCol5 {
    width:295px;
    height:203px;
    float:left;
    border:1px solid #d7d7d7;
    margin-top: 30px;
    border-left:0px solid #d7d7d7;
}
.homeCols .homeCol4 .btn{
    background:#ff9000 url(../images/upload.png) left no-repeat;
    background-position: 10px 1px;
}

.homeCols .homeCol4 .btn:hover{
    background:#fca738 url(../images/upload.png) left no-repeat;
    background-position: 10px 1px;
}

.homeCols .homeCol5 .btn{
    background:#ff9000 url(../images/download.png) left no-repeat;
    background-position: 10px 1px;
}

.homeCols .homeCol5 .btn:hover{
    background:#fca738 url(../images/download.png) left no-repeat;
    background-position: 10px 1px;
}

.homeCols .homeCol4 span, .homeCols .homeCol5 span
{
    margin-left:24px;
}
.homeCols .homeCol4 .introtext ,.homeCols .homeCol5 .introtext{
    position:relative;
    height:100%;
    display:block;
}
.homeCols .homeCol4 h3, .homeCols .homeCol5 h3{
    font-family: 'Open Sans';
    margin-top: 15px;
    font-size: 19px;
    margin-left:30px;
    margin-bottom:10px;
    font-weight:900;
}

.homeCols .homeCol4 p, .homeCols .homeCol5 p{
    font-family: 'Open Sans';
    margin-top: 0px;
    font-size: 14px !important;
    margin-left:30px;
    margin-right:30px;
    font-weight:900;
    height:70px;
}
.moduletable.keyFeture {
}
#k2ModuleBox96{
    margin-top:20px;
}
.moduletable.keyFeture h3{
    font-family:'Open Sans';
    font-weight:600;
    background:url(../images/lampIcon.jpg) 0 0 no-repeat;
    padding-left:50px;
    padding-top:15px;
    font-size:19px;
}
.moduletable.keyFeture ul {
    list-style:none;
}
.moduletable.keyFeture ul li {
    width:300px;
    float:left;
    background:none;
    margin-right:20px;
    border:0 none;
    margin-top:0px;
}


.borderBottom {
    border-bottom: 1px solid #d7d7d7;
    width:302px;
    margin-bottom:-1px;
    font-size:0px;
}
.moduletable.keyFeture ul li span{
    margin-bottom:20px;
    float:left;
    display:inline-block;
}
.moduletable.keyFeture ul li a {
    float:left;
    display:inline-block;
    width:300px;
    height:52px;
    line-height:52px;
    color:#373737;
    font-size:15px;
    cursor:pointer;
    padding-left:20px;
    background:url(../images/reg.jpg) right no-repeat;
}
.moduletable.keyFeture ul li a.active{
    background:#2b6ea5 url(../images/current.jpg) right no-repeat!important;
    color:#FFF!important;
}

.moduletable.keyFeture ul li a:hover {
    color:#000;
}



.moduletable.tabs ul {
    list-style:none;
    margin-top:13px;
}
.moduletable.tabs ul li {
    display:none;
    background:none;
    border:0 none;
    width:275px;
    margin-left:0px;
}
.moduletable.tabs ul li .moduleItemTitle {
    /*font-family:'Open Sans';
    font-weight:600;
    background:url(../images/clockIcon.jpg) 0 0 no-repeat;
    padding-left:50px;
    padding-top:15px;
    font-size:19px;
    color:#000;*/

    font-family:'Open Sans';
    font-weight:600;
    font-size:19px;
    color:#2b6ea6;



}
.moduletable.tabs ul li .moduleItemIntrotext {
    margin-top:10px;
    line-height:25px;
    font-family:arial!important;
    font-size:15px!important;
    color:#232323!important;
}
.moduletable.cloud h3{
    font-family:'Open Sans';
    font-weight:600;
    background:url(../images/cloudIcon.jpg) 0 0 no-repeat;
    padding-left:53px;
    padding-top:15px;
    font-size:19px;
    margin-left:20px;
}
.moduletable .custom.cloud {
    margin-top:15px;
    margin-left:20px;
    line-height:22px;
    font-family:arial!important;
    font-size:15px!important;
    color:#232323!important;
}
.moduletable .custom.cloud img{

    margin-bottom:22px;
}
.deployment{
    margin-top:0px;
}
.moduletable.deployment #nav {
    width:325px;
    text-align:center;
    border:1px solid #d7d7d7;
    border-top:0 none;
    height:18px;
}
.moduletable.deployment h3 {
    width:90%;
    display:inline-block;
}
.moduletable.deployment .allItems {
    display:inline-block;
    color:#ff9000;
    float:right;
    margin-top:15px;

}

.homeCol6 .keyfeatures-menuitem{
    padding-left:20px!important;
    padding-top:0px!important;
}

.moduletable.deployment #nav a {
    width:12px;
    height:10px; display:block;
    background: url(../images/navBullet.jpg) 0 0 no-repeat;
    display:inline-block;
    margin-left:7px;
    margin-top:4px;
}
.moduletable.deployment #nav a.activeSlide {
    background:url(../images/navActiveBullet.jpg) 0 0 no-repeat;
}
.moduletable.deployment ul {
    border:1px solid #d7d7d7;
    padding:0px;
    list-style:none;
    min-height:153px;
    margin-top:13px;
    width:325px;
    overflow:hidden;
}
.moduletable.deployment ul li {
    background:0 none;
    font-size:15px;
    line-height:22px;
    border:0 none;
    width:92%;
}
.moduletable.deployment ul li hr{
    border-bottom:1px solid #d7d7d7;
    margin:0 0 15px 0;
    padding:0;
}
.moduletable.deployment ul li .moduleItemTitle {
    margin-top:-5px;
    font-weight:bold;
    font-size:15px;
    color:#2b6ea6;
    display:block;
}
.moduletable.deployment ul li .moduleItemIntrotext {
    padding-bottom:10px;
}
.moduletable.deployment ul li img {
    padding:3px 0;
}
.footerWrapper{
    height:100px;
    width:100%;

}
.footer {
    background: #232323;
    margin-top: 40px;
}
.footer .custom {
    width:50%;
    float:left;
    display:inline-block;
}

.footer .social {float: left; width: 200px; margin-top: 38px;}
.footer a {color:#000!important;}

.footer .wrapf {
    height:100px;
    margin:0px auto;
    width:960px;
}
.footer .wrap > a {
    float:right;
    margin-top:30px;
}
.pealBanner {
    position:absolute;
    top:0;
    right:0;

}
.innerPage {
    margin-top:15px;
}
.rightCol {
    width:305px;
    float:left;
    background:url(../images/innerRightArrow.jpg) 100% 0 repeat-y;
}
.rightCol ul{
    width:270px;
    list-style:none;
}
.rightCol ul li{
    width:300px;
    height:43px;
    line-height:43px;
    /*-border-bottom:1px solid #ededed;-*/
}
.rightCol ul li a{
    font-family:'Open Sans';
    font-size:19px;
    color:#363636;
    padding-left:20px;
    width:282px;
    display:block;
}
.rightCol ul li a:hover{
    color:#000;
}
.rightCol ul li.current {
    border:0 none;
    background: #2b6ea6 url(../images/current.jpg) right no-repeat;
}
.rightCol ul li.current a{
    color:#fff;
}
.mainContnet {
    width:539px;
    float:left;
    min-height: 400px;
    margin-left:35px;
}


.moduleItemExtraFields .typeTextarea a, .moduleItemExtraFields .typeTextarea a .mainContnet {color:#ff9000!important;}
.moduleItemExtraFields .typeTextarea a:hover, .moduleItemExtraFields .typeTextarea a:hover .mainContnet {color:#ff9000; text-decoration:underline;}

.mainContnet a {color:#ff9000;}
.mainContnet a:hover {color:#ff9000; text-decoration:underline;}

.mainContnet.fullWidth {
    width:960px;
    padding:0;
    float:none;
}
.mainContnet h1 {
    font-weight:normal;
    color:#232323;
    font-size:32px;
    font-family:'Open Sans';
    margin-bottom:16px;
}
.mainContnet.lamp  h1 {
    background:url(../images/lampIcon.jpg) 0 0 no-repeat;
    padding-left:50px;
    margin-left:-12px;
}
.mainContnet h3 {
    font-family:'Open Sans';
    color:#2b6ea6;
    font-size:18px;
    font-weight:600;
    margin-bottom:10px;
}
.mainContnet p {
    text-align:justify;
}

.mainContnet li{
    margin-left:20px;
}
.blog hr, .category-desc {
    clear:both;
    border-bottom:1px solid #ededed;
}
.blog hr {
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.span6{
    margin-top:15px;
    border-bottom:1px solid #ededed;
}
.category-desc {
    padding-bottom:25px;
}
.blog .items-leading .btn {
    float:right;
    margin-top:0px;
}
h2 {
    font-family:'Open Sans';
    font-size:21px;
    font-weight:600;
    margin-bottom:25px;
    margin-top:15px;
}
/* TYPOGRAPHY */
.download {
    background:#ff9000 url(../images/downLoadIcon.png) 20px 12px no-repeat;
    padding-left:65px;
}
.download:hover {
    background:#fca738 url(../images/downLoadIcon.png) 20px 12px no-repeat;
}
.plus {
    background:url(../images/plusIcon.jpg) 0 3px no-repeat;
    padding-left:15px;
    font-size:15px;
    color:#363636;
}
h3 {
    font-family:'Open Sans';
    font-weight:600;
    padding-top:15px;
    font-size:19px;
}
.contactTable {
    margin: 0 auto;
}
.contactTable td, .contactTable a{
    color:#2b6ea6;
    font-size:18px;
    font-family:'Open Sans';
}
.contactTable img {
    margin-top:15px;
}

.benchmarkTable {
    font-size:12px;
    font-family:'Open Sans';
    padding:3px 7px 2px 7px;
    margin:15px;
}
.benchmarkTable tr:nth-child(odd) { background-color:#eee; }
.benchmarkTable tr:nth-child(even) { background-color:#fff; }

.introText {
    font-weight:normal;
    color:#232323;
    font-size:22px;
    text-align:left !important;
}


.custom.CloudIcon {margin-top:20px; float:right; width: 40px;}

.readmore a{
    float:right;
    margin-bottom:15px;
    margin-top:15px !important;
    background:#ff9000;
    width:135px;
    height:36px;
    line-height:36px;
    font-size:20px;
    font-family:Arial;
    font-weight:normal;
}
.item, .items-more {clear:both;}
.mainContnet  a {color:#ff9000;}
.mainContnet  a:hover {text-decoration:underline;}

.pagination {margin-top:20px; margin-left:160px; margin-bottom:100px; clear:both;}
.pagination .counter {display:none;}
.pagination ul li {float:left; margin: 0px 0px 20px 10px; list-style:none;}

#k2ModuleBox107{
    margin-left:50px;
}
#k2ModuleBox107 .odd, #k2ModuleBox107 .even{
    background: #FFF;
    padding: 5px;
    border-bottom: 1px dashed #d7d7d7;
    list-style-type:none;
}

.moduleItemExtraFields .typeTextarea, .moduleItemExtraFields .typeTextarea a{
    color:#262525;
    font-size:15px;
}

.moduleItemExtraFields .typeDate{
    color:#2b6ea6;
    font-size:14px;
}

.homeTopBannerRight h1 {
    background:url(../images/newIcon.jpg) 0 0 no-repeat;
    padding-left:50px;
    margin-left:32px;
    font-weight:600;
    line-height:40px;
    color:#232323;
    font-size:19px !important;
    margin-bottom:10px;
}

.homeColWidth{
    margin-top:15px;
    width:430px;
}
.homeColWidth h3{
    font-family:'Open Sans';
    font-weight:600;
    background:url(../images/cloudIcon.jpg) 0 0 no-repeat;
    padding-left:53px;
    padding-top:15px;
    font-size:19px;
}
.homeColWidth p{
    padding-left:3px;
    line-height:22px;
    font-family:arial!important;
    font-size:15px!important;
    color:#232323!important;
}

.designedImg{
    float:right;
    width:530px;
    margin-top:35px;
}

.designedImg img{
    float: right;
    border: 1px solid #d7d7d7;
    margin-left: 14px;
    margin-bottom: 14px;
}

.homeCol6{
    margin-top:10px;
    height:206px;
}

.moduletable_menu .borderBottom{
    width:282px;
}

.blog li{
    margin-left:20px;
}
.blog span, .mainContnet p{
    line-height: 23px;
    font-family: arial!important;
    font-size: 15px!important;
    color: #232323!important;
}


.page-header h2, .blog h2, h2.section-header {
    font-size:20px;
    margin-bottom:0px;
}
.page-header h2, h2.section-header {
    font-family: 'Open Sans';
    font-weight: 600;
    background: url(../images/lampIcon.jpg) 0 0 no-repeat;
    padding-left: 50px;
    margin-left: -14px;
    font-size:31px;
}

.tooltip{
    display:none !important;
}
table.benchmark {
    border-collapse: collapse;
}
table.benchmark td, table.benchmark th {
    padding: 0.5em;
    border: 1px solid #000;
}
table.benchmark td.positive {
    color: #4F9325;
}
table.benchmark td.negative {
    color: #DA231A;
}
.typical-cloud-stack {
    margin-left: 20px;
}
.typical-cloud-stack h3 {
    margin-left: 0 !important;
}
.typical-cloud-stack p {
    margin: 1em 0;
    font-family: arial;
}

/* START OF MOBILE VERSION */
.mobile {
    display:none;
}
/* START OF MOBILE MENU */

.theMobileMenu {
    display:none;
    background:#303030;
    position:absolute;
    top:66px;
    left:0;
    z-index:999;
    width:100%;
}
.theMobileMenu ul ul {
    display:none;
    margin:21px -20px -21px -40px;
    border-top:1px solid #595959;
}
.theMobileMenu ul li {
    min-height:24px;
    line-height:24px;
    border-bottom:1px solid #595959;
}
.theMobileMenu ul li {
    background:url(../images/minus.jpg) 15px 26px no-repeat;
}
.theMobileMenu ul li.active {
    background:url(../images/plus.jpg) 15px 26px no-repeat;
}
.theMobileMenu ul li a{
    padding:21px 20px 21px 40px;
    font-size:20px;
    color:#fff;
    text-decoration: none !important;
    display:block;
}
.theMobileMenu ul ul li{
    background:#252324;
}
.contactTable .images {
    float: left;
}
.contactTable .links {
    display: block;
    float: left;
    padding: 21px 0;
}
/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 640px) and (min-width: 320px) {
    .wrap {
        width:100%;
        height:auto !important;
    }
    .homeTopBannerLeft, .homeColWidth {
        width:93%;
        padding:10px;
        margin: 0 auto;
    }
    .header {
        display:none;
    }
    .mobile.header {
        display:block;
        background:#ff9000;
        height:24px;
        padding:21px 15px;
        width: auto;
    }
    .mobile.header .logo{
        float:left;
    }
    .mobileMenuLink {
        background:url(../images/menuIcon.jpg) 50% 50% no-repeat;
        width:66px;
        height:66px;
        display: inline-block;
        float:right;
        margin:-21px -15px 0 0;
        text-decoration: none !important;
    }
    .mobileMenuLink.active {
        background:#303030 url(../images/menuIconAct.jpg) 50% 50% no-repeat;
    }
    .homeCols {
        border:0 none;
    }
    /* HIDE UNNECCERY STUFF */
    .homeTopBannerRight, .removeonMobile, .pealBanner, .homeCol1, .homeCol2, .homeCol3, .homeCol4, .homeCol5, .homeCol6, .designedImg, .divider {
        display:none;
    }
    .homeTopBannerLeft h1 {
        font-size:22px !important;
    }
    .homeTopBannerLeft h2 {
        font-size:18px !important;
    }
    .mobile.keyfeatures {
        display:block;
        width:100%;
    }

    /* START OF HOME ACCORDION */
    .k2ItemsBlock.accordion .moduleItemTitle {
        min-height:24px;
        padding:21px 50px 21px 10px;
        display:block;
        background:url(../images/whitePlus.png) 96% 50% no-repeat;
        font-size:20px; color:#fff;
        text-decoration:none !important;
    }
    .k2ItemsBlock.accordion .moduleItemTitle.active {
        background:url(../images/whiteMinus.png) 96% 50% no-repeat;
    }
    .k2ItemsBlock.accordion .itemNum6 .moduleItemTitle {
        background-color:#54b2ff;
    }
    .k2ItemsBlock.accordion .itemNum5 .moduleItemTitle {
        background-color:#319cf5;
    }
    .k2ItemsBlock.accordion .itemNum4 .moduleItemTitle {
        background-color:#228be1;
    }
    .k2ItemsBlock.accordion .itemNum3 .moduleItemTitle {
        background-color:#147acf;
    }
    .k2ItemsBlock.accordion .itemNum2 .moduleItemTitle {
        background-color:#146ab1;
    }
    .k2ItemsBlock.accordion .itemNum1 .moduleItemTitle {
        background-color:#034f8f;
    }
    .k2ItemsBlock.accordion .itemNum0 .moduleItemTitle {
        background-color:#054174;
    }
    .k2ItemsBlock.accordion .moduleItemTitle {

    }
    .k2ItemsBlock.accordion .moduleItemIntrotext {
        display:none;
        background:#dbedf0;
        padding:25px 20px 64px 20px;
    }
    .k2ItemsBlock.accordion .moduleItemIntrotext .closeTab {
        float:right;
        width:64px;
        height:64px;
        display:block;
        background:#a6c7da url(../images/whiteMinus.png) 50% 50% no-repeat;
        margin-right:-20px;
        text-decoration:none !important;
    }

    .footer .wrapf .custom {
        display:none;
    }
    .footer {
        height:65px;
        background: #232323 url(../images/footerLogo2.jpg) 5% 50% no-repeat;
    }
    .footer .wrapf {
        height:65px;
        width:99%;
        background: url(../images/topButton.jpg) 100% 0 no-repeat;
    }

    .rightCol {
        display:none;
    }
    .mainContnet  {
        width:95%;
        margin:0;
        padding:0 10px;
    }
    .mainContnet img {
        max-width:100%;
        height:auto;
    }
    .mainContnet.fullWidth {
        width:100%;
    }
    .mobilePageTitle {
        clear: both;
        width: 93%;
        padding: 10px 10px;
        font-size: 24px;
        border-bottom: 1px solid #d7d7d7;
        display: block;
        margin: 0 auto;
    }
    .moduletable.keyFeature h3 {
        padding: 21px 0 21px 60px;
        border-top: 1px solid #d7d7d7;
        background: url(../images/lampIcon.jpg) 10px 50% no-repeat;
    }
    .homeCols {
        padding: 0;
        margin: 0;
    }
    .footer {
        margin-top: 10px;
    }
    /*    .homeColWidth {
            margin-top: -20px;
        }*/
    .contactTable td, .contactTable a {
        text-align: center;
        font-size: 14px;
    }
    .contactTable .images {
        float: none;
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    .contactTable .links {
        display: block;
        padding: 0;
        float: none;
    }
    .contactTable {
        overflow: auto;
        margin-bottom: 43px;
    }
}